.tag_page {
    background-image: url(../backgroundpaper.jpg); 
    background-size: cover;  
    height: 1000px;
    margin: 0;  
}

.tagForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.form-group {
    font-weight: bold;
}

.tagFormOptions{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F2EE;
    border:solid 5px#150000;
    width: 70%;
    box-shadow:2px 8px 4px #150000;
}

.page_title_tagForm {
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 30%;
    background-color: #150000;
    color: #F5F2EE;
    box-shadow:1px 6px 4px -6px #150000;
    position: relative;
    margin:2.5rem;
    padding: 2rem;
    border-radius: 50px 40px 200px 75px/30px 300px 50px 300px;
    transform: rotate(-.3deg);
}

.tape {
    position:absolute;
    width:8rem;
    height:2rem;
    min-width:1px;
    min-height:1px;
    background-color:gray;
    opacity:0.3;
    z-index:3;
    text-align:center;
    line-height:2em;
    margin:1rem;
    -webkit-box-shadow:0px 0px 1px gray;
    -moz-box-shadow:0px 0px 1px gray;
    box-shadow:0px 0px 1px gray;
    border-left:2px dashed rgba(0,0,0,0.2);
    border-right:2px dashed rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transform: rotate(-2deg);
    
}

.page_title_manage_tags {
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 30%;
    background-color: #150000;
    color: #F5F2EE;
    box-shadow:1px 6px 4px -6px #150000;
    margin: 2rem; 
    padding: 2em;
    border-radius: 50px 40px 200px 75px/30px 300px 50px 300px;
    transform: rotate(-1.5deg);
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.tag {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F2EE;
    border:solid 5px#150000;
    width: 50%;
    margin-bottom: 2rem;
    box-shadow:2px 8px 4px #150000;
}

.manage_tags {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.taglabel {
    font-weight: bold;
}

.tagInput {
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 0px 0px;
}
