.song_list_page {
    background-image: url(../backgroundpaper.jpg); 
    background-repeat: repeat;   
}

.songs{
    padding: 20px;
}

.song {
    padding-bottom: 1px;
    margin: 5px;
}

.page_title_songList {
    text-align: center;
    font-weight: bold;
    font-size: large;
    /* width: 30%; */
    background-color: #180000;
    color: #F5F2EE;
    box-shadow:1px 6px 4px -6px #180000;
    position: relative;
    margin:1.5rem;
    padding: 2rem;
    border-radius: 100px 63px 225px 75px/30px 300px 75px 300px;
    transform: rotate(-.5deg);
    
}

.songlist_tape {
    position:absolute;
    width:8rem;
    height:2rem;
    min-width:1px;
    min-height:1px;
    background-color:gray;
    opacity:0.3;
    z-index:3;
    text-align:center;
    line-height:2em;
    margin:auto;
    -webkit-box-shadow:2px 8px 4px #150000;
    -moz-box-shadow:2px 8px 4px #150000;
    box-shadow:2px 8px 4px #150000;
    border-left:2px dashed rgba(0,0,0,0.3);
    border-right:2px dashed rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    transform: rotate(2deg);
    
}    
 

.album {
    margin-bottom: 15px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:1em;
    line-height:1.5em;
    background:#F5F2EE;
    border:solid 5px #180000;
    box-shadow:2px 8px 4px #150000;
}

.albums {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagList {
    display: flex;
    justify-content: left;   
    
}

.individualTag {
    margin-right: 5px;
}

.albumTitle {
    text-align: left;
    padding-left: 10px;
}

.song_artistName {
    font-weight: bold;
}

