/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,200;12..72,300;12..72,400;12..72,500;12..72,600;12..72,700;12..72,800;12..72,900&display=swap');

/*Typography
--------------------------------------------------------------*/
/* body {
  background-image: url(backgroundpaper.jpg);
  background-image: url(taylor_swift.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #160000;
} */

button,
input,
select,
textarea {
  color: #190002;
  font-family: 'Truculenta', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  font-family: 'Truculenta', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

.main-image {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

button {
  background:transparent;
  padding:0.2rem 0.2rem;
  margin:0 0.5rem;
  font-size:1rem;
  font-weight: bold;
  color: #190002;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 3px #190002;
}

button:hover{
box-shadow:2px 8px 4px -6px #190002;
}


